@import url('https://fonts.googleapis.com/css2?family=Lato&family=PT+Sans:ital@1&family=Work+Sans&display=swap');

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #a097ac;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: whitesmoke;

}

.container {
  margin-top: 80px;
  background-color: #a097ac;
}

.quizBox {

  margin-top: 100px;
  border: 3px solid rgb(231, 120, 9);
  border-radius: 32px 32px;
  background-color: #a097ac;
}

.input {
  padding: 6px 70px;
}


#btn {
  margin-top: 20px;
}

.ContainerScore {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 500px;
  border: 3px solid red;
  height: 250px;
  border-radius: 60px 34px;
}

#retryBtn {
  margin: auto;
  height: 55px;
  width: 140px;
  border-radius: 40px;
}

#retryBtn:hover {
  color: cyan;
}

.score {
  display: flex;
  flex-direction: column;
  margin: auto;
}